.vegetation-services {
  padding: 60px 20px;
  text-align: center;
}

.vegetation-services h2 {
  font-size: 2.5rem;
  color: #00ff55;
  margin-bottom: 30px;
  text-shadow: 0 0 10px #00ff55;
}

.services-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
  text-align: left;
}

.services-list li {
  background-color: rgba(230, 242, 255, 0.9);
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.services-list li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
